<div class="container-fluid">
    <h1>Adicionar músicas</h1>
    <br>
    <div class="form-inputs">
        <p>Nome da música</p>
        <input type="text" class="form-control" [(ngModel)]="cadastroMusica">
        <br>
        <p>Nome do artista</p>
        <input type="text" class="form-control" [(ngModel)]="artistaDaMusica" >
        <br>
        <p>Duração</p>
        <input type="number" class="form-control" [(ngModel)]="tempoDeMusica" >
        <br>
        <button class="btn btn-primary" (click)="adiconarNovaMusica()">Adicionar</button>

        
</div>
</div> 

